body{
background-image:url("img/n.jpg");
background-repeat:no-repeat;
background-size: 100% 130%;
}
h1{
font-family: arial;
font-size: 50px;

}
.time{
 font-size: 40px;
 padding-top:22%;
padding-left:300px;     

}